* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}

.product-small-img img {
	height: 80px;
	margin: 10px 0;
	cursor: pointer;
	display: block;
	opacity: .6;
	border-radius: 0px;
	transition: all .2s;
}

.product-small-img img:hover {
	opacity: 1;
	border-radius: 9px;
}

.product-small-img {
	float: left;
	height: 500px;
	padding: 8px;
}

.product {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.img-container {
	float: right;
	padding: 8px;
}

.img-container img {
	height: 500px;
	width: 350px;
}